@model CIT280_Capstone.Models.Customer

@{
    ViewBag.Title = "Details";
}

<div class="col-md-10 col-md-offset-2">
    <h1>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h1>
    <row>
        <div class="col-md-4 edit-icon-trigger">
            <h4>@Html.DisplayNameFor(model => model.PhoneNumber) </h4>
            @HtmlHelpers.DisplayForPhone(Model.PhoneNumber)<br />
            <h4>@Html.DisplayNameFor(model => model.TaxExempt)</h4>
            @if (Model.TaxExempt == true)
            { <p>Exempt</p> }
            else
            { <p>Non-Exempt</p>}
            <a href="/Customers/Edit/@Model.ID"><span class="glyphicon glyphicon-pencil edit-icon"></span></a>
        </div>
        @if (Model.DeliveryAddressID == null)
            {
            <div class="col-md-4">
                @Html.ActionLink("Add Delivery Address", "CreateDelivery", "Addresses", new { id = Model.ID }, new { @class = "address-link" });
            </div>
        }

        else
        {
            <div class="col-md-4 edit-icon-trigger">
                <h4>Delivery Address</h4>
                <address>
                    @Html.DisplayFor(model => model.DeliveryAddress.Street)<br>
                    @Html.DisplayFor(model => model.DeliveryAddress.City)<br>
                    @Html.DisplayFor(model => model.DeliveryAddress.State)<br>
                    @Html.DisplayFor(model => model.DeliveryAddress.ZipCode)<br>
                </address>
                <a href="~/Addresses/Edit/@Model.DeliveryAddressID?CustID=@Model.ID"><span class="glyphicon glyphicon-pencil edit-icon"></span></a>
                <a href="~/Addresses/DeleteDelivery/@Model.DeliveryAddressID?CustID=@Model.ID"><span class="glyphicon glyphicon-remove delete-icon"></span></a>
            </div>
        }

        @if (Model.MailingAddressID == null)
            {
            <div class="col-md-4">
                @Html.ActionLink("Add Mailing Address", "CreateMailing", "Addresses", new { id = Model.ID }, new { @class = "address-link" })
            </div>
        }
        else
        {
            <div class="col-md-4 edit-icon-trigger">

                <h4>Mailing Address</h4>
                <address>
                    @Html.DisplayFor(model => model.MailingAddress.Street)<br>
                    @Html.DisplayFor(model => model.MailingAddress.City)<br>
                    @Html.DisplayFor(model => model.MailingAddress.State)<br>
                    @Html.DisplayFor(model => model.MailingAddress.ZipCode)<br>
                </address>
                <a href="~/Addresses/Edit/@Model.MailingAddressID?CustID=@Model.ID"><span class="glyphicon glyphicon-pencil edit-icon"></span></a>
                <a href="~/Addresses/DeleteMailing/@Model.MailingAddressID?CustID=@Model.ID"><span class="glyphicon glyphicon-remove delete-icon"></span></a>
            </div>
        }

    </row>

    <hr />
</div>


@{ Html.RenderAction("CustomerOrdersList", "Orders", new { id = Model.ID });}


