@model CIT280_Capstone.Models.Customer

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <h1>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h1>
    <row>
        <div class="col-md-4">
            <h4>@Html.DisplayNameFor(model => model.PhoneNumber) </h4>
            @Html.DisplayFor(model => model.PhoneNumber)<br />
            <h4>@Html.DisplayNameFor(model => model.TaxExempt)</h4>
            @if (Model.TaxExempt == true)
            { <p>Exempt</p> }
            else
            { <p>Non-Exempt</p>}
        </div>    
        @{Html.RenderAction("AddressDetails", "Customers", new { id = Model.ID });}
    </row>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
