@model IEnumerable<CIT280_Capstone.Models.Customer>
@using PagedList

@{
    ViewBag.Title = "Customers";
}
<div class="row col-mid-10 col-md-offset-1">
    <h2>Customers</h2>

    <p>
        @Html.ActionLink("Create New", "Create")

    </p>
    
</div>
<div class="row col-md-8 col-md-offset-2">
    <table class="table" data-page-lenth="10" cellspacing="10">
        <tr>

            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.LastName).ToString(), "Index", new { sortOrder = ViewBag.LastNameSortParm })
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.FirstName).ToString(), "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</div>