@model PagedList.IPagedList<CIT280_Capstone.Models.Customer>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Customers";
}
<div class="row col-mid-10 col-md-offset-1">
    <h2>Customers</h2>

    <p>
        @Html.ActionLink("Create New", "Create")

    </p>
    
</div>
<div class="row col-md-8 col-md-offset-2">
    <table class="table table-hover" data-page-lenth="10" cellspacing="10">
        <tr>

            <th>
                @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.LastNameSortParm, filterValue = ViewBag.FilterValue }, new { @class = "h3 navbar-header" })
            </th>
            <th>
                @Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.NameSortParm, filterValue = ViewBag.FilterValue }, new { @class = "h3 navbar-header" })
            </th>
            <th>
                <p class="h3 text-center">Number of Orders</p>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.ActionLink(Html.DisplayFor(modelItem => item.LastName).ToString(), "Details", new { id = item.ID }, new { @class = "h4 navbar-text" })
                </td>
                <td>
                    @Html.ActionLink(Html.DisplayFor(modelItem => item.FirstName).ToString(), "Details", new { id = item.ID }, new { @class = "h4 navbar-text" })
                </td>
                <td>
                    @{ Html.RenderAction("OrderCountPerCustomer", "Orders", new { id = item.ID });}
                </td>
            </tr>
        }

    </table>
    <br />
    <div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, pageNo => Url.Action("Index", new { pageNo,
                                                                        sortOrder = ViewBag.CurrentSortOrder,
                                                                        filterValue = ViewBag.FilterValue }))
    </div>
</div>