@model IEnumerable<CIT280_Capstone.Models.LineItem>
<div class="col-md-10 col-md-offset-1">
    <table class="table">
        <thead>
            <tr>
                <th class="table-header">
                    @Html.DisplayNameFor(model => model.Product.Name)
                </th>
                <th class="table-header">
                    @Html.DisplayNameFor(model => model.Product.UnitPrice)
                </th>
                <th class="table-header">
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ToList()[i].Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => Model.ToList()[i].Product.UnitPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ToList()[i].Quantity)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>