@model IEnumerable<CIT280_Capstone.Models.Order>

<p>
    @Html.ActionLink("All Customers", "Index", "Customers")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.FirstName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>

    </tr>
}

</table>
