<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Papano's Pizza</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta name="description" content="Main Page" />
</head>
<body>
    <!--Top Nav Begin-->
    <div id="wrapper" class="toggled">
        <div class="navbar navbar-inverse navbar-fixed-top" style="border-bottom:none">
            <div class="container-fluid">

                <!--Nav Collapse Begin-->
                <div class="navbar-header col-md-2">                   
                    <a href="#menu-toggle" class="btn navbar-btn navbar-link" id="menu-toggle">Hide Menu</a>
                </div>
                <!--Nav Collapse End-->

                <!--Nav Search Begin-->
                <div class="navbar-form col-md-6 col-md-offset-4" style="margin-right:50%">
                    @using (Html.BeginForm()) 
                    {
                        <div class="form-group">
                            @Html.TextBox("searchString", null, new { @class = "form-control", @placeholder = "First or Last Name", @id = "searchInput" })
                            <input type="submit" name="Submit" value="Search" class="btn navbar-btn" />
                        </div>
                    }
                </div>
                <!--Nav Search End-->

                <div class="navbar-collapse collapse">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
            
        </div>
        <!--Top Nav End-->

        <!--Side Nav Begin-->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>@Html.ActionLink("Papano's Pizza", "Index", "Home", new { area = "" }, new { @class = "sidebar-brand" })</li>
                <li>@Html.ActionLink("Orders", "Index", "Orders")</li>
                <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
                <li>@Html.ActionLink("Promotions", "Index", "Promotions")</li>
            </ul>
        </div>
        <!--Side Nav End-->

        <!--Body Content Begin-->
        <div class="container-fluid body-content" id="page-content-wrapper">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Team Spy</p>
            </footer>
        </div>
        <!--Body Content End-->


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>

    <!--Script for side nav collapse-->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>
</html>
