<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Papano's Pizza</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta name="description" content="Main Page" />
</head>
<body>
    <!--Top Nav Begin-->
    <div id="wrapper" class="toggled">
        <div class="navbar navbar-inverse navbar-fixed-top center" style="border-bottom:none">

            <div class="container-fluid">

                <!--Nav Collapse Begin-->
                <div class="navbar-header">

                    <a href="#menu-toggle" class="btn navbar-btn navbar-link" id="menu-toggle">Hide Menu</a>

                </div>
                <!--Nav Collapse End-->



                <div class="navbar-collapse collapse">@Html.Partial("_LoginPartial")</div>

            </div>

        </div>
        <!--Top Nav End-->
        <!--Side Nav Begin-->
        <div id="sidebar-wrapper">

            
            

            <ul class="sidebar-nav">
                <li class="sidebar-brand">@Html.ActionLink("Papano's Pizza", "Index", "Home", new { area = "" })</li>               
                <!--Nav Search Begin-->
                <li>
                        @using (Html.BeginForm("Index", "Customers", FormMethod.Get, new { @class = "form form-inline"}))
                        {
                                <div class="input-group input-group-sm">
                                    @Html.TextBox("searchString", null, new { @class = "form-control", @placeholder = "Customer Name", @id = "searchInput" })
                                    <div class="input-group-btn"><button class="btn btn-default btn-sm" type="submit"><span class="glyphicon glyphicon-search"></span></button></div>
                                </div>
                        }
                </li>
                <!--Nav Search End-->
                <li></li>
                <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
            </ul>
        </div>
        <!--Side Nav End-->
        <!--Body Content Begin-->
        <div class="container-fluid body-content" id="page-content-wrapper">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Team Spy</p>
            </footer>
        </div>
        <!--Body Content End-->


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>

    <!--Script for side nav collapse-->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>
</html>
